# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/docs
/mock

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
*.log
/typings
.DS_Store
Thumbs.db
